*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Josefin Sans', sans-serif ;
}

body
{
    background-image: url(bg.jpeg);
}
/* .logo
{
    margin: 10px;
} */
.image
{
      width:100%; 
    
     
}
.big-font 
{
     color:rgb(238, 130, 148)
    font-size: 25px;
    margin:10px;
    font-weight: bolder;
}
.para
{
     
     color: rgb(240, 144, 160);
    /* line-height: 1.8;  */
    font-size: 16px;
   margin:10px;
   font-weight: bolder;
}
.pink
{
    color: rgb(235, 170, 180);
}
label
{
    position: relative;

}
.btn{
    margin:10px;
}
input
{
    border-radius: 30px;
    padding:15px;
    width:30%;
    font-size: 18px;
    
}
button
{
    position: absolute;
    /* top:0; */
    right:0;
    /* bottom:0; */
font-size: 18px;
    border-radius: 32px;
    padding:15px;
    background-color:rgb(253, 131, 152);
    color:white;

}
@media (min-width: 320px) {
   input{
       width:60%;
   }
   /* .big-font{
       text-align: center;
   }
   .para
   {
       text-align: center;
   } */

    }
    

 @media (min-width: 768px) {
     .big-font
     {
       
        font-size: 25px;
             }
    input{

        width:60%;
    }
    .image
    {
        width: 30px;
    }
 }
  @media (min-width: 1024px) 
  {
      input{
          width:30%;
      }
      .image{
        text-align: center; 
          display:none;
      }
      .big-font{
          font-size: 35px;
          margin:30px;
      }
       /* .para
             {
                text-align: center; 
             } 
      */
 } 
